<%= render "shared/navbar" %>

<div class="onboarding signup" style="background-image: url('<%= asset_url('profile_onboarding.png') %>');">
  <div class="container">
    <div>
      <%# <h5 style="text-align:center;" class="mb-4">HEY BABY</h5> %>

      <h1 style="text-align:center;" class="mb-4">My Profile</h1>

      <div>
        <div class="profile-card">
          <h5>Full name:</h5>
            <p><%= @profile.first_name %> <%= @profile.last_name %></p>

          <h5>Address:</h5>
            <p><%= @profile.address %></p>

          <%# <h5>Birthdate:</h5>
            <p><%= @profile.birthdate.strftime("%d. %m. %Y") %>
            <%# </p> %>
        </div>

        <hr>

        <div class="pregnancy-card">
          <h5>Your due date</h5>
          <div class="d-flex justify-content-between">
            <div>
              <p class="mb-3"><%= current_user.pregnancies.last.due_date.strftime("%d. %m. %Y") %></p>
              <p class="profile-due-date"><%= "#{current_user.pregnancies.last.week_of_pregnancy} weeks pregnant" %></p>
            </div>
            <div>
              <%= link_to 'Edit', '#', class: "button-secondary d-block right", data: { bs_toggle: "modal", bs_target: "#editModal", turbo: false } %>
              <%# <button type="button" class="button-secondary d-block right" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit
              </button> %>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-end" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></div>
        <h5 class="modal-title" id="exampleModalLabel">Edit due date</h5>
      </div>
      <div class="modal-body">
        <div class="form-control">
          <%= simple_form_for [current_user.pregnancies.last] do |f| %>
            <%= f.input :due_date, as: :date, html5: true, label: false %>
            <%= f.button :submit, "Update", class: 'signup-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/navbar_bottom" %>
