<%= render "shared/navbar" %>
<div class="container">
  <div>
    <%# <h5 style="text-align:center;" class="mb-4">HEY BABY</h5> %>

    <h1 style="text-align:center;" class="mb-4">My Profile</h1>

    <div class="#" >
      <p>Name: <%= @profile.first_name %> <%= @profile.last_name %></p>
      <p>Address: <%= @profile.address %></p>
      <p>Birthdate: <%= @profile.birthdate.strftime("%d. %m. %Y") %></p>
    </div>

  </div>
</div>

<%= render "shared/navbar_bottom" %>
