<%= render "shared/navbar" %>
<div class="container">
  <h1>All tasks</h1>
  <% @tasks.each do |task| %>
    <%= link_to "/categories/#{task.category_id}/tasks/#{task.id}" do %>
      <div class="card card-task">
        <div class="title">
          <h4><%= task.name %></h4>
          <p><%= task.start_time %> - <%= task.deadline %> weeks</p>
        </div>
        <div class="details">
          <% if task.completed == true %>
            <div class="completed">
              <i class="fa-solid fa-check"></i>
              <p>DONE</p>
            </div>
          <% end %>
            <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
<%= render "shared/navbar_bottom" %>
