<%= render "shared/navbar" %>

<%# Hospital %>

<% if @task.name == "Find a hospital and book an appointment" %>
  <%= render "map" %>
  <div id="hospital-content" class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p class="task-description"><%= @task.description %></p>
  </div>
  <% Hospital.all.geocoded.each do |hospital| %>
    <%= render "info_window", hospital: hospital %>
  <% end %>
<% end %>


<% if @task.name == "Visit and register in your Hospital" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%# Birth certificate %>

<% if @task.name == "Find mother & father birth certificates" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Registering the child to the registry office (Standesamt)" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%# Child benefit %>

<% if @task.name == "Applying for child benefit (Kindergeld)" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%= render "checkbox", locals: {task: @task} %>
