<%= render "shared/navbar_show" %>

<%# Gynecologist %>
<% if @task.name == "First examination ultrasound scan" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Get your pregnancy certificate from your Gynecologist" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Second examination" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Anatomy ultrasound (Feindiagnostik) or 3D scan" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Gestational diabetes test" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Third examination" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%# Hospital %>

<% if @task.name == "Find a hospital and book an appointment" %>
  <%= render "map" %>
  <div id="hospital-content" class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p class="task-description"><%= @task.description %></p>
  </div>
  <% Hospital.all.geocoded.each do |hospital| %>
    <%= render "info_window", hospital: hospital %>
  <% end %>
<% end %>


<% if @task.name == "Visit and register in your Hospital" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%# Birth certificate %>

<% if @task.name == "Find mother & father birth certificates" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Registering the child to the registry office (Standesamt)" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
    <p>Required documents:</p>
      <ul>
        <li>Birth announcement will be send by the hospital</li>
        <li>Declaration of both parents about the first name and surname of the child (signed)</li>
        <li>Valid identity card or passport of parents</li>
        <li>mother's and father's birth certificate</li>
        <li>if applicable, marriage certificate</li>
      </ul>

    <%= render "drive_button", task: @task %>
  </div>
<% end %>

<%# Maternity Leave %>

<% if @task.name == "Inform your employer about your pregnancy" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Your maternity leave before the birth starts!" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Reporting the birth to employer" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%# Maternity Allowance %>

<% if @task.name == "Apply for the maternity Allowance" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<% if @task.name == "Reporting the birth to your Krankenkasse" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
  </div>
<% end %>

<%# Paternity %>

<% if @task.name == "Acknowledgment of paternity" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
    <%= render "form_button", task: @task %>
  </div>
<% end %>

<%# Child benefit %>

<% if @task.name == "Applying for child benefit (Kindergeld)" %>
  <div class="container">
    <h1><%= @task.name %></h1>
    <h5 class="task-timer"><%= "week #{@task.start_time} until #{@task.deadline}" %></h5>
    <hr>
    <p><%= @task.description %></p>
    <%= render "form_button", task: @task %>
  </div>
<% end %>

<%= render "checkbox", locals: {task: @task} %>

