<div class="container onboarding onboarding-text dark-bg" style="background-image: url('<%= asset_url('contacts_onboarding.png') %>');">
  <div class="logo-text">
    <p>HEY BABY</p>
    <h1>Important Contacts</h1>
  </div>
  <div class="onboarding-content">
      <%= simple_form_for [@important_contact] do |f| %>
        <%= f.input :name, label: false, placeholder: "Name" %>
        <%= f.input :address, label: false, placeholder: "Address" %>
        <%= f.input :phone_number, label: false, placeholder: "Phone number" %>
        <%= f.input :email, label: false, placeholder: "Email" %>
        <%= f.button :submit, "To my dashboard", class: 'signup-button contact-primary-button' %>
        <%= link_to "Skip", root_path, class: 'contact-secondary-button' %>
      <% end %>
  </div>
</div>
