<div class="container">
  <h1>Categories</h1>
  <% @categories.each do |category| %>
    <div class="card card-category">
      <div class="title">
        <i class="fa-solid fa-layer-group"></i>
        <h4><%= category.name %></h4>
      </div>
      <%# if statement %>
      <div class="details">
        <%= if BLABLABLABLA %>
          <div class="completed">
            <i class="fa-solid fa-check"></i>
            <p>DONE</p>
          </div>
        <%= else %>
          <p class="not-completed"><%= @tasks.count %></p>
        <%= end %>
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  <% end %>
</div>
