<%= render "shared/navbar" %>
<div class="container">
  <h1>Categories</h1>
  <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <div class="card card-category">
        <div class="title">
          <i class="fa-solid fa-layer-group"></i>
          <h4><%= category.name %></h4>
        </div>
        <div class="details">
          <% tasks = category.tasks.where(pregnancy: current_user.current_pregnancy) %>
          <% if tasks.count == tasks.where(completed: true).count %>
            <div class="completed">
              <i class="fa-solid fa-check"></i>
              <p>DONE</p>
            </div>
          <% else %>
            <p class="not-completed">
              <%= tasks.where(completed: true).count %> / <%= tasks.count %>
            </p>
          <% end %>
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "shared/navbar_bottom" %>
