<div class="container">
  <div class="category-text">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
  </div>
  <div>
    <% @category.tasks.each do |task| %>
    <%= link_to category_task_path(task) do %>
      <div class="card card-task">
        <div class="title">
          <h4><%= task.name %></h4>
          <p><%= task.start_time %> - <%= task.deadline %> weeks</p>
        </div>
        <div class="details">
          <% if task.completed == true %>
            <div class="completed">
              <i class="fa-solid fa-check"></i>
              <p>DONE</p>
            </div>
          <% end %>
            <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <hr class="mt-4 mb-4">
  <div>
    <p><strong>MY FILES</strong></p>
        <% if @category.documents.exists? %>
        <div class="files-container">
          <% @category.documents.each do |document| %>
            <div class="file-card">
              <%# cloudinary %>
              <div>
                <p><%= document.name %></p>
              </div>
            </div>
          <% end %>
        </div>
        <% else %>
          <p>You haven't uploaded any files yet</p>
        <% end %>
  </div>
</div>
